body {
  background-color: #000;
  color: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 95%;
  margin: auto;
}
.nav {
  text-align: right;
  padding-right: 10%;
  top: 0;
  margin-bottom: 80px;
}
.logo {
  width: 160px;
  position: absolute;
  top: 10%;
  left: 1%;
  transform: translate(-20%, -70%);
  color: white;
  z-index: 3;
}

.loader {
  position: absolute;
  left: 53%;
  top: 40%;
  z-index: 1;
  margin: -120px 0 0 -75px;
  border: 3px solid #f3f3f3;
  border-radius: 100%;
  border-top: 3px solid #ffa502;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}
.hide {
  display: none;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
h1 {
  color: #ffa502;
  padding-bottom: 10px;
  font-family: "Source Sans Pro", sans-serif;
}
span {
  color: #ffa502;
  font-weight: bolder;
  margin-right: 10px;
}
h2 {
  padding-bottom: 10px;
  font-family: "Source Sans Pro", sans-serif;
}
p {
  font-family: "Source Sans Pro", sans-serif;
  text-align: justify;
}
.year {
  margin-top: 30px;
  font-size: 20px;
  color: #808080;
}
.genres {
  font-weight: 100;
  margin-top: 30px;
  font-size: 20px;
  color: #808080;
}
.genres span {
  color: #808080;
}
.star {
  color: orange;
  font-size: 22px;
}
.rating {
  margin-top: 30px;
  font-size: 20px;
  color: #808080;
}
.review-title {
  margin-top: 30px;
  color: #ffa502;
}

.review-card {
  background: #808080;
  color: #000;
  max-width: 100%;
   display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: 18px;
  border-radius: 25px;
  padding: 15px 15px;
  margin-bottom: 60px;
  text-align: left; 
}
/* .by{
  background: white;
  color: #000;
} */
.overview {
  font-size: 18px;
  color: #808080;
}
.movies,
.upcoming,
.top-rated,
.shows {
  display: flex;
  overflow-x: auto;
  gap: 20px;
}
.movies::-webkit-scrollbar {
  display: none;
}
.upcoming::-webkit-scrollbar {
  display: none;
}
.top-rated::-webkit-scrollbar {
  display: none;
}
.shows::-webkit-scrollbar {
  display: none;
}
.movie-card {
  width: 100%;
}

.movie-card-img {
  width: 200px;
  margin-right: 20px;
}
.movie-card:hover {
  margin-left: 0 40px;
  transform: scale(1.2);
  cursor: pointer;
}

.movie-name {
  font-family: sans-serif;
  font-size: 17px;
  text-align: left;
  padding: 20px 0;
  margin-right: 5px;
}

@media screen and (max-width: 800px) {
  .horizontal {
    width: 100%;
  }
  .grid {
    grid-template-columns: 1fr;
  }
  .review-card{
    grid-template-columns: 1fr;
    padding: 15px 7px;
  }
}
